<div class="card">
    <div class="content">
        <div class="row">
            <div class="col-xs-5">
                <div class="icon-big icon-warning text-center">
                    <i class="ti-server"></i>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="numbers">
                    <p>Capacity</p>
                    105GB
                </div>
            </div>
        </div>
        <div class="footer">
            <hr />
            <div class="stats">
                <i class="ti-reload"></i> Updated now
            </div>
        </div>
    </div>
</div>