.toolbar{
  height: 64px;
  background-color: #f4f3ef;
  flex: 1 1 auto;
  display: flex;  
  align-items: center;

  border-bottom: 1px solid #ddd;
}

.toolbar button{
  background-color: #f4f3ef;
  border: none;
    font-size: 20px;
}

.toolbar .title{
  font-size: 20px;
}

.toolbar-right{
  float: right !important;
}

.toolbar-left{
  float: left !important;
  flex: 1;
  align-items: center;
}

.toolbar-left>button{
  float: left;
}

.toolbar-left>div{
  padding: 6px 12px;
}

.toolbar-right>button{
  float: left;  
}

.toolbar-right span{
  font-size: 14px;
}