.toolbar{
  height: 64px;
  background-color: #E892E0;
  flex: 1 1 auto;
  display: flex;  
  align-items: center
}

.toolbar button{
  background-color: #E892E0;
  border: none;
}

.toolbar .title{
  font-size: 20px;
}