.sidenav-container{
    height: 100%;
    flex:1;
    padding: 0;
    margin: 0;
    float: left;
    background-color: #FFC3A1;
}

.content{
    height: 100%;   
    float: left;
    padding: 0;
    margin: 0;  
    background-color: #f4f3ef;
    transition: all 0.4s ease 0s;
}

.wrapper{
    height:100vh;
    position: relative;
}

.sidenav-container-collapse{
    width: 0%;
    transition: all 0.4s ease 0s;
}

.content-inner{
    padding-top: 30px;
    padding-left: 15px;
}


.collapse-sidenav{
    transition: all 0.4s ease 0s;
}

.collapse-content{
    transition: all 0.4s ease 0s;
} 

.extend-content{
    transition: all 0.4s ease 0s;
}

.extend-sidenav{
    transition: all 0.4s ease 0s;
}

.collapse-sidenav {
    text-align: center;
}

@media only screen and (min-device-width: 1199px){
    .extend-sidenav{
        width: 15%;
    }

    .collapse-sidenav{
        width: 4%;
    }

    .extend-content{
        width: 96%;
    }

    .collapse-content{
        width: 85%;
    }

    /* .collapse-sidenav span{
        display: none;
    } */
}


.btn--fab {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 4em;
  height: 4em;
  border: 0;
  border-radius: 50%;
  background-color: #d83131;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  outline: 0;
    z-index: 999;
  /* cursor: pointer; */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 768px) {
    .sidenav-container{
        width: 0;
    }

    .content{
        width: 100%;    
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 768px) and (orientation : landscape) {
/* Styles */
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .sidenav-container{
        width: 0;
    }

    .content{
        width: 100%;    
    }
}