.modalDialog {
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: calc(50% - 200px);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.65);    
}

.modalHeader{
    background-color: #86b2cc;
    width: 400px;
    text-align: center;
    line-height: 40px;
}

.modalBody{
    background-color: #e3e3e7;
    height: 100px;
    width: 400px;
}


.modal-close{
    display: none;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.close-text{
    text-align: right;
    position: absolute;
    right: 5px;
    line-height: 40px;    
}

