.example-sidenav-fab-container {
  width: 300px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.logo{
  height: 64px;
  background-color: #65fadc;
  padding: 0;
  margin: 0;
}

.material-design{
  vertical-align: middle;
}

.menu-item{
  padding: 10px 0 10px 10px;
  align-items: center;
  display: flex;
  vertical-align: middle;
  transition: 0.3s all;
}

.menu-item md-icon{
  margin-right: 25px;
}

.menu-item a {
  height: 100%;
  width: 100%;
  display: block;
}

.menu-item:hover{
  background-color: #da9823;
}