.logo{
  height: 64px;
  background-color: #65fadc;
  padding: 0;
  margin: 0;
}

.material-design{
  vertical-align: middle;
}

.menu-item{
  padding: 10px 0 10px 10px;
  align-items: center;
  display: flex;
  vertical-align: middle;
  transition: 0.3s all;
}

.menu-item i{
  margin-right: 55px;
  padding-left: 40px; 
}

.menu-item a {
  height: 100%;
  width: 100%;
  display: block;
}

.menu-item:hover{
  background-color: #da9823;
}