<div>
    <div class="logo"></div>
    
    <div class="menu-item">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a [routerLink]="['/home']">Home</a>
    </div>

    <div class="menu-item">
        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        <a [routerLink]="['/contact']">Contact</a>
    </div>

    <div class="menu-item">
        <i class="fa fa-th fa-2x" aria-hidden="true"></i>
        <a [routerLink]="['/grid']">Grid</a>
    </div>

    <div class="menu-item">
        <i class="fa fa-circle fa-2x" aria-hidden="true"></i>
        <a [routerLink]="['/form']">Form</a>
    </div>
</div>