<div>
    <div class="logo"></div>
    
    <div class="col-md-12">
        <div class="row">
            <a class="menu-item" [routerLink]="['/home']">
                <div class="col-md-6">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                    <span>Home</span>
                </div>
            </a>
        </div>

        <div class="row">
            <a class="menu-item" [routerLink]="['/contact']">
                <div class="col-md-6">
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                    <span>Contact</span>
                </div>
            </a>
        </div>

        <div class="row">
            <a class="menu-item" [routerLink]="['/grid']">
                <div class="col-md-6">
                    <i class="fa fa-th fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                    <span>Grid</span>
                </div>
            </a>
        </div>

        <div class="row">
            <a class="menu-item" [routerLink]="['/form']">
                <div class="col-md-6">
                    <i class="fa fa-circle fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-md-6">
                    <span>Form</span>
                </div>
            </a>
        </div>
    </div>
</div>